# Introduction to Python

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

We expect that some of you will have some experience with Python and Numpy; for the rest of you, this notebook will serve as a quick crash course both on the Python programming language and on the use of Python for scientific computing.

Some of you may have previous knowledge in Matlab, in which case we also recommend the numpy for Matlab users [page](https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html).

In this tutorial, we will cover:

* Fundamentals of Python
* Data Types
* Functions
* Classes

## Fundamentals of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

Python does not use curly brackets to delimit code blocks, but instead uses alignment (1 tab is equivalent to opening curly brackets, and the block ends when the code is realligned without the tab).

The [Zen of Python](https://en.wikipedia.org/wiki/Zen_of_Python) suggests that the language should be, among others, simple. It usually takes half the lines of code to accomplish something in Python than it does in C/C++, and it certainly has less "keywords" than Java (don't we all hate the **public static void main** thing? Of course, Java is less verbose since version 13, but that's another story).


There are two ways to write and execute Python code.

### Non-interactive Python

The first one is **non-interactive** and covers scripts and executables that can be ran from an IDE or the command line. Similar to JVM langauges, it is interpreted, meaning the code is converted into bytecode and then executed by the python virtual machine. Without going too much into details here, the steps to run a Python file is for it to have a [main function](https://realpython.com/python-main-function/) -- yes, it is ugly, we know, and then to run it via a terminal or from the IDE with *python file.py". 

In order to be able to run the scripts, you will need Python installed on your machine (usually any version between 3.6 and 3.10). As with any other production-level langauge, Python has packages (or libraries, if you want) that must be installed and imported into the project to bring extra funcitonality. As these packages have various versions and compatibility issues, we suggest having a separate environment for each project. This can be achieved with Anaconda or VirtualEnv, but details on this will be given at a later point.

### Interactive Python


The second way of running hte code is in interactive mode (or notebook mode), like this example. Notebooks are great ways to combine text and code. They are composed of cells that can be executed independently, and which can be intertwined with text blocks. This is great for writing proofs-of-concept or for demos, but in the real world, most of the times, the first way described is used. Of course, managed notebooks such as Google Colab allow you to run the code without installing anything on your machine, so less hassle.

**Important** Executing a cell will always print the result of the last operation (no need to use "print" for the last operation, but if you want to print other values, explicitly use print in the cell at appropriate points)

##Data Types

Python has a few basic data types:

* Numeric types: int, float, complex (64-bit precision by default)
* String: str
* Collections: list, dict, set, tuple, range
* bool
* bytes (rarely used)
* object (for user-defined classes)

### Numeric Types

In [ ]:
# This is how you comment, by the way.
# No need to specify the type of variables in Python.

an_integer = 10

type(an_integer)

int

In [ ]:
a_float = 1/4
another_float = 0.5

sum_of_floats = a_float + another_float
type(sum_of_floats)

float

In [ ]:
sum_of_numbers = a_float + an_integer

# Summing two numbers will give you a result of the appropriate type - The casting is done automatically
type(sum_of_numbers)

float

#### Numeric Operations

Python provides the usual operands for numeric types:
* Addition, subtraction, multiplicaiton, division, modulus
* Exponential (different syntax)

In [ ]:
a = 2
b = 3 

print("Addition: ", a+b)

# Quick trick: Adding an "f" before a string value allows it to implicitly compute values enclosed in {}.
print(f"Subtraction: {a-b}")

print(f"Division: {a/b}")

# Integer division is double slash
print(f"Integer Division: {a//b}")

print(f"Mod: {a%b}")

Addition:  5
Subtraction: -1
Division: 0.6666666666666666
Integer Division: 0
Mod: 2

In [ ]:
exponential = 2 ** 3

# Remember, the result of the last evaluated value is automatically printed
exponential

8

### Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter.
print(hello, len(hello))

hello 5

#### Concatenation

Stings can be concatenated - Strings can also be indexed to create substrings.

In [ ]:
full_concatenation = hello + ' ' + world  # String concatenation
print(full_concatenation)

hello world

In [ ]:
first_letter_concatenation = hello[0] + ' ' + world[0]
print(first_letter_concatenation)

h w

In [ ]:
# Just a sneak peek on how to index the last two elements of an iterable. Don't worry, we will explain it in detail later
last_two_letters_concatenation = hello[-2:] + ' ' + world[-2:]
last_two_letters_concatenation

'lo ld'

#### Formatting

Formatting a string allows it to be parameterized. Strings can be formatted in multiple ways.

In [ ]:
hw12 = '%s %s %d' % ("Hello", "Girls", 1)  # sprintf style string formatting
print(hw12)

text = 'Hello {name:}'
print(text.format(name='Guys'))

# Everyone's favourite since Python 3
name = 'Everyone'
print(f'Hello {name} {1+2}')

Hello Girls 1
Hello Guys
Hello Everyone 3

In [ ]:
###

### Containers

Containers hold together multiple values of the same or of different types.

#### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
x = [2, True, "two"]   # Create a list
print("The array is:", x)
print("The first element of the array is:", x[0]) 
print("The last element of the array is:", x[-1])     # Negative indices count from the end of the list; prints "2"

The array is: [2, True, 'two']
The first element of the array is: 2
The last element of the array is: two

You can add elements (at the end) to the list by calling append on the list. 

The syntax is similar to object-oriented programming: "On x, append .2"

In [ ]:
x.append(.2)
x

[2, True, 'two', 0.2]

Certain data types have overrides for basic opreators. For instance, adding two lists appends one after the other.

In [ ]:
y = x + [4, False, "four", .4]
x + y

[2, True, 'two', 0.2, 2, True, 'two', 0.2, 4, False, 'four', 0.4]

Of course, not all operations work on lists. Some may work on other containers, for example.

In [ ]:
x - y

TypeError: ignored

##### Slicing

Slicing is indexing on steroids. 
* You want to get a single element? Slicing. 
* You want to get a sub-sequence? Slicing. 
* You want to get a reverse sub-sequence? Slicing.

The syntax of slicing is 

```
array[start:end(:step)]
```
Where start defaults to 0, end to the length of sequence - 1, and step to 1 (optional).

In [ ]:
nums = [i for i in range(5)]   # range is a built-in function that creates a list of integers

print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[:])      # Prints all the numbers.
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9]  # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

##### Iterating

Iterating a list in Python can be done with a for loop, and the elements are guaranteed to come in order.

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

You can also get the index along with the value using "enumerate".

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print(idx, animal)

0 cat
1 dog
2 monkey

#### Tuples

Tuples are similar to arrays, but they are not mutable - You cannot append or remove items from a tuple. They are a better choice when you know the exact structure of a collection (i.e. the coordinates of a point can be a tuple instead of a list, if they do not change).

In [ ]:
coordinates = (1.0, 2.0)

coordinates.append(3.0)

AttributeError: ignored

In [ ]:
coordinates[0] = 2.0

TypeError: ignored

#### Dictionaries

Dictionaries are key-value mappings of any type, similar to Map in Java or object in JS.

In [ ]:
d = {'cat': 'cute', 
     'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])
print(d['dog']) # Get an entry from a dictionary
print('cat' in d)    # Check if a dictionary has a given key

cute
furry
True

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])

wet

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: ignored

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print(f'A {animal} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

#### Sets

A set is an unordered collection of distinct elements. Sets are advantageous as testing membership and adding a new element takes O(1) time.

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   
print('fish' in animals)

True
False

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals), " animals in the set.")      
animals.remove('cat')    # Remove an element from a set
print(len(animals), " animals in the set.")

2  animals in the set.
1  animals in the set.

Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish', 'aardvark'}
for idx, animal in enumerate(animals):
    print(idx, animal)

0 cat
1 dog
2 aardvark
3 fish

#### Comprehensions

Comprehension is a powerful syntax that allows the construction of a collection based on a "formula".

In [ ]:
a_list = [i**2 for i in range(5)] # Squares of each element from 0 to 5
a_set = {i%2 for i in range(5)} # A set of all modulo-2 values of each element from 0 to 5
a_dict = {i:i**2 for i in range(5)} # A dictionary of key-value pairs where the key is a a number from 0 to 5 and the value is its square

print(a_list)
print(a_set)
print(a_dict)

[0, 1, 4, 9, 16]
{0, 1}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## Control Structures

The control structures are quite similar to pseudocode, and they do not require parantheses most of the times.

In [ ]:
# Conditional structures

a = 1
b = 2

if a > b: # condition
  print('Greater')
elif a == b: # alternative branch
  print('Equal')
else: # else
  print('Lesser')

Lesser

In [ ]:
# Loops

array = [0, 1, 2, 3, 4, 5]

for i in array:
  print(f"For I am {i}")

i = 0
while i < len(array):
  print(f"While I am {i}")
  i+=1 # i++ is not a valid syntax :(

For I am 0
For I am 1
For I am 2
For I am 3
For I am 4
For I am 5
While I am 0
While I am 1
While I am 2
While I am 3
While I am 4
While I am 5

## Functions. Elements of Functional Programming

Functions are defined in a simple syntax. The keyword is "def", and you dont have to specify the variable types or the return types. You can however, but it is optional.

In [ ]:
def a_function(a_parameter, another_parameter):
  return a_parameter + another_parameter


def a_nice_function(a_parameter: int, another_parameter: int) -> int:
  """Add two integers"""
  return a_parameter + another_parameter + 1


a = 1
b = 2

print(a_function(a, b))
print(a_nice_function(a, b))

3
4

In Python, functions are first-class citizens. You can have functions as items in a collection, you can pass functions as parameters to other functions, and so on.

In [ ]:
def a_wrapper_function(a_parameter:int, another_parameter: int, function) -> int:
  print("i'm actually calling the function passed as parameter to me")
  return function(a_parameter, another_parameter)

a_wrapper_function(a, b, a_function)

i'm actually calling the function passed as parameter to me

3

In [ ]:
functions = [a_function, a_nice_function]
for function in functions:
  print(function(a, b))

3
4

### Elements of functional programming

Python has built-in functions from functional programming, such as map, filter, zip, etc.

It also allows the use of annonymous (lambda) functions. If you have not seen funcitonal program before, don't worry, it's not one of the key features of Python. Feel free to optionally explore it if you would like.

In [ ]:
x = [1, 2, 3, 4, 5]
print(list(map(lambda i: i**2, x)))

print(list(filter(lambda i: i >= 2, x)))

[1, 4, 9, 16, 25]
[2, 3, 4, 5]

## Object-oriented Programming - Classes and Objects

Classes must define a constructor, provided in the `__init__` method. The constructor can take default values for the parameters.

The class itself is represented by a dictionary named "self", in which you can store the instance variables of the class. All the class methods can access that "self". 

Classes have ["magic methods"](https://www.tutorialsteacher.com/python/magic-methods-in-python#:~:text=Magic%20methods%20in%20Python%20are,class%20on%20a%20certain%20action.), which allow you to define what certain operations with objects of the class should do.

* Want to implement ">" operator for people? Implement the `__ge__` magic method and compare the age of the two people to see which is "greater".

In [ ]:
class Person():

    # Constructor
    def __init__(self, 
                 name,
                 age):
        self.name = name  # Create an instance variable
        self.age = age

    # Instance method
    def introduce(self):
        print(f'Hi, my name is {self.name}, and I am {self.age} years old.')


alex = Person('Alex', 20)

alex.introduce()

Hi, my name is Alex, and I am 20 years old.